<div>
    <h1 style="text-align: center;">Book Details!</h1>
    <hr />
  <form name="bookDetails" style="">
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <label for="staticEmail" class="col-sm-3 col-form-label">Book Type</label>
    <div class="col-sm-5">
    <select class="custom-select form-control" data-ng-options="item as item for item in bookType" ng-model="ui.bookType">
      <option value='' selected>Open this select menu</option>
    </select>
    </div>
  </div>
  <div class="form-group row">
  <div class="col-sm-2"></div>
    <label for="staticEmail" class="col-sm-3 col-form-label">Book Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control"  placeholder="Book Name" ng-model="ui.bookName" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <label for="inputPassword" class="col-sm-3 col-form-label">Book Author</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="auhtorName" placeholder="Auhtor Name" ng-model="ui.authorName" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <label for="inputPassword" class="col-sm-3 col-form-label">Book Page</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="bookPage" placeholder="Book Page" ng-model="ui.bookPage" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <label for="bookTotalNumber" class="col-sm-3 col-form-label">Number Of Copies</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="bookTotalNumber" placeholder="Number Of Copies" ng-model="ui.bookTotalNumber" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <label for="inputPassword" class="col-sm-3 col-form-label">Title</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="title" placeholder="Title" ng-model="ui.bookTitle" />
    </div>

  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <label for="inputPassword" class="col-sm-3 col-form-label">Publisher Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="publisherName" placeholder="Publisher Name" ng-model="ui.publisherName" />
    </div>
  </div>
  <div class="form-group row">
      <div class="col-sm-2"></div>
    <label for="inputPassword" class="col-sm-3 col-form-label">Publisher Date</label>
    <div class="col-sm-5">
      <input type="date" class="form-control" name="publishDate" placeholder="Publisher Date" ng-model="ui.date" />
    </div>
  </div>
  <!-- <div class="form-group">
  <label class="col-sm-3 control-label">Date Of Birth</label>
    <div class="col-sm-5">
      <p class="input-group">
        <input type="text" name="dob" class="form-control" placeholder="Date of Birth" ng-click="checkDobDatepickerOpen($event)" datepicker-popup="dd-MM-yyyy" data-ng-model="dateOfBirth" is-open="dateofbirthOpened" required close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn-default" ng-click="checkDobDatepickerOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
           </span>
       </p>
       <span class="error-form-fields pull-right" ng-show="createUserForm.dob.$error.required && createUserForm.dob.$touched">
                       Select Date of Birth</span>
    </div>
</div> -->
    <div class="form-group row" style="margin-top: 2%">
      <div class="col-sm-9"></div>
      <button type="submit" class="btn btn-primary mb-2 col-sm-1" ng-click="saveBook(ui)">Save</button>
    </div>
</form>
<button class="btn btn-primary" ng-click="success()">Primary Notification</button>
</div>