<div>
    <h1 style="text-align: center;">Return Details!</h1>
    <hr />
    <form name="bookDetails" style="">
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <label for="name" class="col-sm-3 col-form-label">Book Type</label>
            <div class="col-sm-5">
                <select class="custom-select form-control" data-ng-options="item as item for item in bookType" ng-model="returnDetails.bookType" ng-change="bookReturnType(returnDetails.bookType)">
                  <option value='' selected>Select Book Type</option>
                </select>
            </div>
        </div>
        <div ng-if="hideReturnDetails==true">
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label for="bookName" class="col-sm-3 col-form-label">Book Name</label>
                <div class="col-sm-5">
                    <select class="custom-select form-control" data-ng-options="item as item.bookName for item in returnBookDetails" ng-model="returnDetails.bookName" ng-change="bookChangedList(returnDetails.bookName)">
                      <option value='' selected>Select Books</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- <div ng-if="showDetailsBook===true">
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <label for="auhtorName" class="col-sm-3 col-form-label">Book Author</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="auhtorName" placeholder="Auhtor Name" ng-model="returnDetails.authorName" disabled />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <label for="publisherName" class="col-sm-3 col-form-label">Publisher Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="publisherName" placeholder="Publisher Name" ng-model="returnDetails.publisherName" disabled />
    </div>
  </div>
  </div> -->
        <div class="form-group row" ng-if="studentDetailsHide===true">
            <div class="col-sm-2"></div>
            <label for="studentName" class="col-sm-3 col-form-label">Student Name</label>
            <div class="col-sm-5">
                <select class="custom-select form-control" ng-model="returnDetails.studentName" ng-change="selectStudentList(returnDetails.studentName)">
                  <option value="" selected>Select Student</option>
                  <option ng-repeat="item in studentList track by $index" value="{{item}}">{{item.studentName}}</option>
                </select>
            </div>
        </div>
        <!-- <div class="form-group row">
      <div class="col-sm-2"></div>
    <label for="fromDate" class="col-sm-3 col-form-label">Return Date</label>
    <div class="col-sm-5">
      <input type="date" class="form-control" name="returnDate" placeholder="Return Date" ng-model="returnDetails.returnDate" />
    </div>
    </div> -->
        <div class="form-group row">
            <div class="col-sm-9"></div>
            <button type="submit" class="btn btn-primary mb-2 col-sm-1" ng-click="returnSave(returnDetails)">Save</button>
        </div>
    </form>
</div>